[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
dbt-core = ">=1.9.2"
dbt-postgres = ">=1.9.0"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
flake8-docstrings = "*"
isort = "*"
pre-commit = "*"
sqlfluff = "*"

[requires]
python_version = "3.9" 